@import "defaults";

input {
    // /* appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    // border: none;
    outline: none !important;
    transition: all 300ms ease-in-out;
    // transition: border 300ms ease-in-out;
    // transition: background-color 300ms ease-in-out;
}
